<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751834767614-prejq9ujs09mhpqeper9hr6j310699hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751834767614-prejq9ujs09mhpqeper9hr6j310699hk</string>
	<key>API_KEY</key>
	<string>AIzaSyDG9KihNdu63SSRJE2tSX-l9U_hA63EXU4</string>
	<key>GCM_SENDER_ID</key>
	<string>751834767614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyTrip</string>
	<key>PROJECT_ID</key>
	<string>trips-772ce</string>
	<key>STORAGE_BUCKET</key>
	<string>trips-772ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751834767614:ios:93ce0c0af56cc19dbc85af</string>
</dict>
</plist>